html {
  height: 100%;
  min-height: fit-content;
}

body {
  height: inherit;
  min-height: inherit;
  width: 90%; 
  
  background-image: linear-gradient(to bottom, black, rgb(0, 60, 0));
  background-size: 100%;

  font-size: 1.1 rem;
  font-family: 'Montserrat';
  font-display: optional;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;

  margin-inline: auto;
  margin-block: 0;
}

main {
  justify-content: center;
  margin: auto;

  padding: 1rem 0;
}

footer {
  align-items: flex-end;
  margin-inline: auto;
}

h1 {
  font-size: 2.5rem;
  margin: 0.5rem 0 0;
}

h2 {
  font-weight: normal;
  font-size: 1.3rem;

  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

.avatar {
  width: 10rem;
  border-radius: 50%;
}

.icon-buttons-container {
  display: flex;
  justify-content: center;
  
  margin: 0;
}