.icon-button.fa {
  color: silver;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin: 2px 0;
  font-size:54px;
}

.icon-button:hover {
  color: white;
  transition: 0.5s;
}

.icon-button:active {
  color: rgb(150, 150, 150);
  transition: 0.2s;
}
