html {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 71, 0));
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend';
  text-align: center;
  height: 98%;
  box-sizing: inherit;
  display: grid;
  align-items: center;
}

.avatar {
  width: 160px;
  border-radius: 50%;
}

h1 {
  color: white;
  font-size: 2.5em;
  margin: 10px;
}

h2 {
  color: white;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 1.2em;
}