.text-button {
  background-color: rgb(173, 147, 0);
  color: white;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  padding: 12px 0;
  margin: 5px 0;
  width: 90%;
  border-radius: 8px;
}

.text-button:hover {
  background-color: rgb(226, 192, 0);
  transition: 0.5s;
}

.text-button:active {
  background-color: rgb(138, 117, 0);
  transition: 0.2s;
}

@media (min-width: 600px) {
  .text-button {
    width: 30%;
  }
}